<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>DNSPod 备份助手</title>
	<link rel="stylesheet" type="text/css" href="static/css/anran.css" />
	<script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
	
</head>

<body>
	<div id="header">
		<div id="header-wrapper">
			<span id="logo" href="/">DNSPod 备份助手</span>
			  <ul class="nav">
				<li class="nav">{{ email }}</li>
				<li class="nav"><a href="/logout" style="text-decoration:none">安全离开</a></li>
			  </ul>
		</div>
	</div>
	
	<div id="wrapper">
		<div class="primary">
		<div id="panel">
			<div class="checkbox" style="width:100px"><input type="checkbox" name="checkAll" />全选</div>
			<div class="option flatBtn exportBtn">导出</div>
			<div class="option flatBtn ImportBtn">导入</div>
			<span id="selectedFileName" style="line-height:26px;verticle-align:middle;"></span>
			<form style="display:none" enctype="multipart/form-data">
				<input type="file" name="backup" accept="application/json" />
				<input type="submit" name="backupSubmitBtn" value="submit" />
			</form> 

		</div>
		{% for domain in resp['domains'] %}
		<div class="domainItemWrapper">
			<div class="checkbox"><input type="checkbox" name="domain" value="{{ domain['id'] }}"></div>
			<div class="domainName ver-middle" title="{{ domain['name'] }}">{{ domain['name'] }}</div>
			{% if domain['grade'] == "D_Free" %}
			<div class="domainGrade ver-middle"><span class="domainGrade">免费套餐</span></div>
			{% end %}
			<div class="updateTime ver-middle" style="float:right" title="最后更新时间">{{ domain['updated_on']  }}</div>
			
		</div><!-- End of domainItemWrapper -->
		{% end %}
		
		</div>
	</div><!-- end of wrapper -->
</body>
<script>
	$( "input[name=checkAll]" ).click(function(){
		var n = $("input[name=domain]").length;
		for (i = 0; i < n; i++){
			if($("input[name=checkAll]").prop("checked") == true){
				$("input[name=domain]")[i].checked = true ;
			}else{
				$("input[name=domain]")[i].checked = false ;
			}
		}
	});

	$("input[name=domain]").click(function(){
		if($(this).prop("checked") == false && $("input[name=checkAll]").prop("checked") == true){
			$("input[name=checkAll]").attr("checked", false);
		}
	});

	$("div.exportBtn").click(function(){
		var ids = [];
		$( "input[name=domain]:checked" ).each(function(){
			ids.push($(this).prop("value"));
		});
		if(ids.length > 0){
			window.open("/export?id="+ ids.join("&id="));	
		}else{
			$("#selectedFileName").html("没有选择任何域名");
			setTimeout(function(){$("#selectedFileName").empty()}, 2000);
		}
	});

	$("div.ImportBtn").click(function(){
		$("input[name=backup]").trigger("click");
	});
	
	$("input[name=backup]").change(function(){
		$("#formFakeSubmitBtn1").remove();
		var file = this.files[0];
		var ext = file.name.split(".").pop().toLowerCase();
    	if(ext == "json"){
			$("#selectedFileName").html($("input[name=backup]").val().replace(/C:\\fakepath\\/i, ''));
			$("#selectedFileName").after("<div class='option flatBtn' id='formFakeSubmitBtn1' onclick=SubmitBtnClick()>提交</div>");
    	}else{
    		$("#selectedFileName").html("文件格式不正确");
    		setTimeout(function(){$("#selectedFileName").empty()}, 3000);
    		
    	}
	});

	function SubmitBtnClick(){
		$("#selectedFileName").empty();
		var formData = new FormData($('form')[0]);
		$.ajax({
			url: "/export",
	        type: 'POST',
	        enctype: 'multipart/form-data',
	        data : formData,
	        cache: false,
        	contentType: false,
        	processData: false,
        	success: function(){
        		location.reload();
        	}
		})
		//setTimeout(function(){
		//	$("#formFakeSubmitBtn1").fadeOut(600, function(){ $(this).remove(); })
		//}, 2000);
		$("#formFakeSubmitBtn1").fadeOut(200, function(){ $(this).remove(); })
		$("#selectedFileName").css({"color": "gray", "font-size":"0.8em"});
		$("#selectedFileName").html("文件已上传到服务器，正在处理中。。Don't worry, Everything's gonna be okay");
	};

</script>

<div id="footer">
    <div id="footer-wrapper">
    </div>
</div>

</body>
</html>